<html>
<head>
    <style type="text/css">
        body {
            margin: 20px;
            font-family: sans-serif;
        }
        .year {
            margin-bottom: 20px;
        }
        .label {
            font-weight: bold;
        }
        <%- include('header_css') %>
    </style>
</head>
<body>

<%- include('header', { current: 'tight' }) %>

<%_ for (const year of Object.keys(images).sort().reverse()) { _%>
    <%_ const issues = images[year]; _%>

    <div class="year">
        <div class="label"><%= year %></div>

        <%_ for (const ymd of Object.keys(issues).sort()) { _%>
            <%_ const issue = issues[ymd]; _%>

            <a href="<%= issue.urls.LARGE %>"><%#
                %><img src="<%= issue.urls.THUMBNAIL %>" title="<%= issue.displayDate %> issue" /><%#
            %></a>

        <%_ } _%>

    </div>

<%_ } _%>

</body>
</html>

